	<h1 class="mainPageText">About Us</h1>

<p class="mainPageText">I am Lydia and the reason I am doing this website is because well I really enjoy crafts and I sometimes need a little help thinking of them so I thought I'd make a website with lots of ideas to help you think of a great craft.  But I don't do it alone I have a little help from cousins 
	Madeleine, and London who I love and enjoy doing crafts with.</p>